/**********************************************************************************************************************/

@property --gradientColor1 {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --gradientColor2 {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --gradientColor3 {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

/**********************************************************************************************************************/

.box {
  /* Raw Styles */
  --totalHeight: 60px; /* default */
  --borderWidth: 3px; /* default */
  --borderRadius: 8px; /* default */
  --fontSizeMultiplier: 3/5; /* default */
  --font-weight: bold;

  /* Computed Styles */
  --contentHeight: calc(var(--totalHeight) - (2 * var(--borderWidth)));
  --fontSize: calc(var(--fontSizeMultiplier) * var(--contentHeight));
  --horizontalPaddingMultiplier: calc(1/2 * (1 - var(--fontSizeMultiplier)));
  --horizontalPadding: calc(var(--horizontalPaddingMultiplier) * var(--contentHeight));

  /* opacity */
  --opacity: 0.7;
  --backgroundOpacity: 1;

  /* colors */
  --backgroundColor: rgb(0, 0, 0);

  --gradientDirection: 135deg;
  --base1: rgb(96, 96, 96);
  --base2: rgb(96, 96, 96);
  --base3: rgb(96, 96, 96);
  --color1: rgb(96, 96, 96); /* default */
  --color2: rgb(96, 96, 96); /* default */
  --color3: rgb(96, 96, 96); /* default */
  --gradientColor1: var(--base1);
  --gradientColor2: var(--base2);
  --gradientColor3: var(--base3);
}

/**********************************************************************************************************************/

.box {
  position: relative;
  max-width: max-content;
  height: var(--totalHeight);
  border-radius: var(--borderRadius);
  cursor: pointer;
}

/**********************************************************************************************************************/

.box:hover, .box:focus, .box.active {
  --gradientColor1: var(--color1);
  --gradientColor2: var(--color2);
  --gradientColor3: var(--color3);

  --backgroundOpacity: 0.8;
}

.box:hover, .box:focus {
  --opacity: 1;
}

.box.active:hover {
  --opacity: 0.2;
}

.box.active {
  --opacity: 0.4;
}

/**********************************************************************************************************************/

/* Background Border Layer */
.layer:nth-of-type(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(var(--gradientDirection), var(--gradientColor1), var(--gradientColor2), var(--gradientColor3));
  opacity: var(--opacity);
  transition:
    opacity 200ms ease-in-out,
    --gradientColor1 100ms ease-in-out,
    --gradientColor2 300ms ease-in-out,
    --gradientColor3 500ms ease-in-out;
}

/* Content Background Layer */
.layer:nth-of-type(2) {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: var(--borderWidth) solid transparent;
  background-color: var(--backgroundColor);
  background-clip: padding-box;
  opacity: var(--backgroundOpacity);
  transition: opacity 300ms ease-in-out;
}

/* Text/Icon Layer */
.layer:nth-of-type(3) {
  color: transparent; /* a color will override the gradient */
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: var(--borderWidth) solid transparent;
  padding: 0 var(--horizontalPadding);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: var(--opacity);
  background: linear-gradient(var(--gradientDirection), var(--gradientColor1), var(--gradientColor2), var(--gradientColor3));
  background-clip: text;
  -webkit-background-clip: text;
  transition:
    opacity 300ms ease-in-out,
    --gradientColor1 100ms ease-in-out,
    --gradientColor2 300ms ease-in-out,
    --gradientColor3 500ms ease-in-out;
}

.layer:nth-of-type(3) > span, .layer:nth-of-type(3) > i  {
  font-size: var(--fontSize);
  font-weight: var(--font-weight);
  line-height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/**********************************************************************************************************************/
