/**********************************************************************************************************************/

.appLayout {
  --navigationBarHeight: "";
  --mainScreenHeight: calc(100% - var(--navigationBarHeight));
}
.appLayout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/**********************************************************************************************************************/

.mainScreen {
  width: 100%;
  height: var(--mainScreenHeight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationBar {
  width: 100%;
  height: var(--navigationBarHeight);
  display: flex;
}

/**********************************************************************************************************************/
