/**********************************************************************************************************************/

.form {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.buttons {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 2rem;
}

/**********************************************************************************************************************/
