/**********************************************************************************************************************/

.page {
  --pageWidth: "";
  --pageHeight: "";

  --headerHeight: 60px;
  --mainHeight: calc(var(--pageHeight) - var(--headerHeight));
}

/**********************************************************************************************************************/

.page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  opacity: 0;
  transition: opacity 200ms ease-in-out
}

.visible { opacity: 1 }

/**********************************************************************************************************************/

.header {
  width: var(--pageWidth);
  height: var(--headerHeight);
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgb(24, 24, 24), rgb(8, 8, 8));
}

.header > span {
  line-height: var(--headerHeight);
  font-size: calc(1/2 * var(--headerHeight));
  padding: 0 1rem;
  font-weight: bold;
}

.main {
  width: var(--pageWidth);
  height: var(--mainHeight);
  display: flex;
  overflow: hidden;
  overflow-y: auto;
}

.main::-webkit-scrollbar { display: none; }

/**********************************************************************************************************************/
