/**********************************************************************************************************************/

.page {
  --pageWidth: "";
  --pageHeight: "";

  --headerHeight: 48px;
  --mainHeight: calc(var(--pageHeight) - var(--headerHeight));
}

/**********************************************************************************************************************/

.page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  opacity: 0;
  transition: opacity 200ms ease-in-out
}

.visible { opacity: 1 }

/**********************************************************************************************************************/

.header {
  width: var(--pageWidth);
  height: var(--headerHeight);
  display: flex;
  padding: 0 10px;
  align-items: center;
}

.main {
  width: var(--pageWidth);
  height: var(--mainHeight);
  display: flex;
  overflow: hidden; /* for dependent css shift */
  overflow-y: auto;
}

/**********************************************************************************************************************/
