/**********************************************************************************************************************/

.cardList {
  /* static */
  --transitionDuration: 150ms;
  --transitionFunction: ease-in-out;

  /* dynamic */
  --cardListSpace: "";
}

/**********************************************************************************************************************/

.cardList {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: var(--cardListSpace);
}

/**********************************************************************************************************************/

.cardListItem {
  width: 100%;
  height: max-content;
  display: flex;
}

/**********************************************************************************************************************/
