/**********************************************************************************************************************/

@property --gradientColor1 {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --gradientColor2 {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --gradientColor3 {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --labelColor1 {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --labelColor2 {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

@property --labelColor3 {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

/**********************************************************************************************************************/

.box {
  --totalHeight: "";
  --borderWidth: 2px;
  --contentHeight: calc(var(--totalHeight) - (2 * var(--borderWidth)));
  --borderRadius: 8px;

  --fontSizeMultiplier: 1/2;
  --fontSize: calc(var(--fontSizeMultiplier) * var(--contentHeight));
  --horizontalPaddingMultiplier: calc(1/2 * (1 - var(--fontSizeMultiplier)));
  --horizontalPadding: calc(var(--horizontalPaddingMultiplier) * var(--contentHeight));

  --fontWeight: bold;

  --backgroundColor: rgba(0, 0, 0, 1);
  --opacity: 0.7;
  --base1: rgba(128, 128, 128, var(--opacity));
  --base2: rgba(128, 128, 128, var(--opacity));
  --base3: rgba(128, 128, 128, var(--opacity));
  --color1: rgba(255, 255, 80, var(--opacity));
  --color2: rgba(255, 165, 0, var(--opacity));
  --color3: rgba(255, 0, 0, var(--opacity));
  --borderGradientDirection: 135deg;
  --textGradientDirection: 135deg;
  --gradientColor1: var(--base1);
  --gradientColor2: var(--base2);
  --gradientColor3: var(--base3);

  --textColor: rgb(192, 192, 192);
  --textOpacity: 0.7;
  --labelOpacity: 0.7;

  --labelColor1: var(--textColor);
  --labelColor2: var(--textColor);
  --labelColor3: var(--textColor);
}

/**********************************************************************************************************************/

.box {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: var(--horizontalPadding);
}

.box:focus-within {
  --gradientColor1: var(--color1);
  --gradientColor2: var(--color2);
  --gradientColor3: var(--color3);
  --opacity: 1;
  --textOpacity: 1;
  --labelOpacity: 1;
  --labelColor1: var(--gradientColor1);
  --labelColor2: var(--gradientColor2);
  --labelColor3: var(--gradientColor3);
  --backgroundColor: rgba(0, 0, 0, 0.8);
}

.label {
  width: max-content;
  line-height: 100%;
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  padding: 0 var(--borderWidth);
  border-radius: var(--borderRadius);
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  color: transparent;
  white-space: nowrap;
  background: linear-gradient(var(--borderGradientDirection), var(--labelColor1), var(--labelColor2), var(--labelColor3));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: var(--labelOpacity);
  transition:
    --labelColor1 100ms ease-in-out,
    --labelColor2 200ms ease-in-out,
    --labelColor3 300ms ease-in-out,
    opacity 200ms ease-in-out;
}

.label:hover {
  --labelOpacity: 1;
}

.label:active:hover {
  --labelOpacity: 0.2;
}

.label:active {
  --labelOpacity: 0.4;
}

/**********************************************************************************************************************/

.inputBox {
  position: relative;
  width: 100%;
  height: var(--totalHeight);
  border-radius: var(--borderRadius);
  color: transparent;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

/**********************************************************************************************************************/

/* Background Border Layer */
.layer:nth-of-type(1) {
  background: linear-gradient(var(--borderGradientDirection), var(--gradientColor1), var(--gradientColor2), var(--gradientColor3));
  transition:
    --gradientColor1 100ms ease-in-out,
    --gradientColor2 200ms ease-in-out,
    --gradientColor3 300ms ease-in-out;
}

/* Content Background Layer */
.layer:nth-of-type(2) {
  background-color: var(--backgroundColor);
  background-clip: padding-box;
  transition: background-color 100ms ease-in-out;
  border: var(--borderWidth) solid transparent;
}

/* Input Layer */
.input {
  outline: 0;
  border: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  padding: 0 var(--horizontalPadding);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  background-color: transparent;
  color: var(--textColor);
  opacity: var(--textOpacity);
  transition: opacity 200ms ease-in-out;
}

.input::placeholder {
  color: rgb(96, 96, 96);
  opacity: var(--textOpacity);
  transition: opacity 200ms ease-in-out;
}

/**********************************************************************************************************************/
