/**********************************************************************************************************************/

.navigationBar {
  --navigationBarHeight: "";
}
.navigationBar {
  width: 100%;
  height: var(--navigationBarHeight);
  display: flex;
  overflow-x: auto;
  background: linear-gradient(rgb(24, 24, 24), rgb(8, 8, 8));
}

.navigationBar::-webkit-scrollbar { display: none; }

/**********************************************************************************************************************/

.buttonList {
  width: max-content;
  height: var(--navigationBarHeight);
  display: flex;
}

.buttonItem {
  width: var(--navigationBarHeight);
  height: var(--navigationBarHeight);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonIcon {
  font-size: calc(1/2 * var(--navigationBarHeight));
  line-height: 100%;
  color: rgb(200, 200, 200);
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}

span.buttonIcon {
  font-weight: bold;
}

.buttonItem:hover {
  cursor: pointer;
}
.buttonItem:hover > .buttonIcon {
  opacity: 1;
}

.buttonItem:focus {
  outline: 0;
}
.buttonItem:focus > .buttonIcon {
  opacity: 1;
}

.buttonItem:active:hover > .buttonIcon, .buttonItem.active:hover > .buttonIcon {
  opacity: 0.2;
}

.buttonItem:active > .buttonIcon, .buttonItem.active {
  opacity: 0.4;
}