/**********************************************************************************************************************/

.accountProfileCardListContainer {
  width: 100%;
  height: 100%;
}

.accountProfileCardList {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* temp */
}

/**********************************************************************************************************************/
